<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button id="view-options">
        <ion-icon color="primary" slot="icon-only" name="ellipsis-vertical"></ion-icon>
      </ion-button>
      <ion-popover trigger="view-options" triggerAction="click">
        <ng-template>
          <ion-content>
            <ion-list>
              <ion-item button="true" (click)="orderBy('day')">
                <ion-icon aria-hidden="true" name="calendar" slot="start"></ion-icon>
                <ion-label>Ordenar por día</ion-label>
              </ion-item>
              <ion-item button="true" (click)="orderBy('store')">
                <ion-icon aria-hidden="true" name="list" slot="start"></ion-icon>
                <ion-label>Order por negocio</ion-label>
              </ion-item>
            </ion-list>
          </ion-content>
        </ng-template>
      </ion-popover>
    </ion-buttons>
    <ion-title class="title-center">Negocios</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="addStore()">
        <ion-icon color="primary" slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="light">
  <ion-list [inset]="true">
    <ion-item-sliding #slidingItems *ngFor="let store of stores()">
      <ion-item>
        <ion-avatar aria-hidden="true" slot="start">
          <img
            src="../../../assets/images/store-avatar.png"
            alt="avatar picture"
          />
        </ion-avatar>
        <ion-label>
          <strong>{{ store.name }}</strong><br />
          <ion-text>{{ store.days }}</ion-text><br />
          <ion-note *ngIf="store.address" color="medium" class="ion-text-wrap">
            <ion-icon color="danger" name="location"></ion-icon>
            {{ store.address }}
          </ion-note>
        </ion-label>
        <ion-note slot="end">
          <ion-icon name="arrow-back"></ion-icon>
        </ion-note>
      </ion-item>
      <ion-item-options slot="end">
        <ion-item-option color="primary" (click)="editStore(store)">
          <ion-icon slot="icon-only" name="pencil"></ion-icon>
        </ion-item-option>
        <ion-item-option color="danger" (click)="deleteStore(store.id)">
          <ion-icon slot="icon-only" name="trash"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <!-- <ion-button id="present-alert">Test alert</ion-button>
  <ion-alert
    trigger="present-alert"
    header="A Short Title Is Best"
    subHeader="A Sub Header Is Optional"
    message="A message should be a short, complete sentence."
  ></ion-alert> -->
</ion-content>
