<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Cuenta DNI Diccionario
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-list [inset]="true" detail="false">
      <ion-item [button]="true" *ngFor="let store of stores()">
        <ion-label>
          <strong>{{store.name}}</strong>
          <ion-note color="medium" class="ion-text-wrap">
            {{store.days}}
          </ion-note>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
